body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: hsl(210, 78%, 9%);
  color: #fdfff7;
  height: 100vh;
}

.header {
  padding: 10px 20px;
  display: flex;
  color: #fdfff7;
  justify-content: center;
  gap: 250px;
  height: 10vh;
  align-items: center;
  font-family: Inter;
}

.header div {
  font-size: 20px;
  font-weight: 800;
}

.main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  min-height: 70vh;
}

.aside {
  flex: 2 1 0;
  color: #fdfff7;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

button,
p {
  font-family: Inter;
}

#start {
  background-color: #00ad2b;
  box-shadow: 1px 1px 2px #69ff8e;
}

#reset {
  background-color: #990000;
  box-shadow: 1px 1px 2px #ff3b3b;
}

button {
  color: #fdfff7;
  font-size: 25px;
  padding: 10px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

p {
  padding: 10px;
  text-align: start;
}

.principal {
  flex: 6 1 0;
  display: flex;
  flex-direction: column;
  margin: 25px;
  border: 1px solid #00ad2b;
  border-radius: 10px;
  background-color: #000a1a;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.footer {
  display: flex;
  color: #d1dbee;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-family: Roboto;

}

.info-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 24px;
  padding: 10px;
}

.info-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ovr-display {
  font-family: Inter;
  font-weight: 800;
  font-size: 100px;
  margin: 50px;
  border-radius: 20px;
  text-align: center;
  color: #990000;
}

.abilities-display {
  display: flex;
  gap: 80px;
  flex-flow: row wrap;
  flex: 3 1 0;
}

.abilities-display div {
  font-family: Inter;
  font-size: 30px;
  font-weight: 800;
}

.iPlayer {
  font-family: Inter;
  color: #cbd1df;
  font-weight: 400;
}