body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #010d1f;
}

.header {
  background-color: #05204a;
  padding: 0 20px;
  display: flex;
  color: #fdfff7;
  justify-content: center;
  height: 10vh;
  align-items: center;
}

h1 {
  font-family: Inter;
}

.main {
  display: flex;
  height: 80vh;
  min-height: 70vh;
}

.aside {
  flex: 2 1 0;
  background-color: rgb(7, 0, 46);
  color: #fdfff7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button, p {
  font-family: Inter;
}

button {
  color: #fdfff7;
  background-color: #bf1a2f;
  font-size: 45px;
  padding: 10px;
  font-weight: 800;
  border: 1px solid #fdfff7;
  border-radius: 20px;
  cursor: pointer;
}
FOOTCARD

p {
  padding: 10px;
  text-align: start;
}

.principal {
  flex: 6 1 0;
  background-color: rgb(0, 0, 29);
}

.footer {
  background-color: #00020c;
  display: flex;
  color: #fdfff7;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-family: Roboto;

}